@import url('https://fonts.googleapis.com/css2?family=Encode+Sans+Expanded:wght@800&family=Orbitron:wght@900&display=swap');
@import "https://fonts.googleapis.com/css?family=Raleway:100,300";
@import "https://fonts.googleapis.com/css?family=Open+Sans:300,400,700,800";
@import "https://fonts.googleapis.com/css?family=Josefin+Sans|Pacifico";

html,
body,
.container {
  height: 100%;
}

body {
  /*font-family: "Open Sans", sans-serif;*/
  font-family: "Josefin Sans", "Raleway", "avenir next", avenir, helvetica,
    "helvetica neue", arial;
  font-size: 18px;
  overflow-x: hidden !important;
  perspective: 1px;
  margin: 0;
  padding: 0;
  height: 100%;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  background-color: rgb(218, 218, 218);
  text-align: center;
  white-space: nowrap;
}

a {
  color: rgb(222, 68, 21);
  text-decoration: none;
}

a:hover {
  color: rgb(0, 116, 217);
}

.container {
  display: -webkit-box;
  display: flex;
  -webkit-box-pack:start;
  justify-content: flex-start;
  -webkit-box-align:start;
  align-items: center;
  background-color: rgb(231, 231, 231);
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  flex-direction: column;
  background: linear-gradient(rgba(235, 241, 235, 0.25), rgba(2, 192, 176, 0.25))
}

#author {
  position: absolute;
  margin: 0 auto;
  top: 0.1rem;
  right: 1rem;
}
#table_main{
  -webkit-transform: translate(1%, 0);
  transform: translate(1%, 0);
  width: 99%; 
  white-space: nowrap;
  border-spacing: 1px;
  margin: 1em 1em 1em 1em;
}

#table_main td {
  vertical-align: top;
}
#table_main_td1 {
  text-align: left;
}
#table_main_td2 {
  text-align: right;  
}

#table_probes {
  width:80%;
}

#table_utility td {
  padding: 20px;
}
#table_pump td, #table_emon td, #table_probes td {
  padding: 5px;
}

.td_title {
  color: rgb(73, 73, 73);
}
#table_utility .td_title {
  text-align: left;
  font-size: 3em;
  white-space: nowrap;
}

#table_utility .td_value {
  text-align: left;
  font-size: 4.2em;
  white-space: nowrap;
}
#table_utility .small {
  font-size: 1.7rem;
}

#table_pump .td_title {
  text-align: left;
  font-size: 2em;  
}
#table_pump .td_value {
  text-align: left;
  font-size: 3em;  
}
#table_pump .small {
  font-size: 1.7rem;
}

#table_probes .td_title {
  text-align: left;
  font-size: 2em;  
}
#table_probes .td_value {
  text-align: left;
  font-size: 3em;  
}
#table_probes .small {
  font-size: 1.7rem;
}

.td_value {
  white-space: nowrap;
}
/*.td_value small {
  font-size: 0.7rem;
}*/


#table_main th, #table_pump th, #table_emon th, #table_probes th {
  font-size: 2em;
  color:rgb(148, 122, 5);
}

#table_emon {
  width: 99%; 
}

#table_emon_circuits {
  -webkit-transform: translate(1%, 0);
  transform: translate(1%, 0);
  width: 100%; 
  white-space: nowrap;
  border-spacing: 1px;
  margin: 0 auto;
}
#table_emon_circuits td {
  font-size: 2em;
  border-bottom: 3px dotted rgb(141, 118, 14);
}

/* keep surrounding object still while fading out/in */
#table_pump #wp_status{
  position: fixed;
  margin: -0.3rem auto;
  font-family: 'Orbitron', sans-serif;
  font-weight: 800;
}

.tr_minimized {
  display: none;
}
.tr_maximized {
  display: block;
}

.OK {
  color:rgb(16, 95, 0);
}
.ERR {
  color:rgb(219, 45, 1);
}

.SUSPENDED {
  color:rgb(219, 45, 1);
}
.ON {  
  color:rgb(0, 126, 10);
}
.OFF {
  color:rgb(1, 63, 145);
}

h1 {
    color: #0F3376;
    padding: 1.5vh;
  }

  p {
    font-size: 2.5rem;
    color: rgb(51, 51, 51);
  }


  #alarms {
    text-align: center;
    white-space: nowrap;
    font-size: 2em;
    color: red;
    font-weight: 600;
  }

  

  .button {
    display: inline-block;
    background-color: #008CBA;
    border: none;
    border-radius: 4px;
    color: white;
    padding: 16px 40px;
    text-decoration: none;
    font-size: 30px;
    margin: 2px;
    cursor: pointer;
  }
  .button2 {
    background-color: #f44336;
  }
  .units {
    font-size: 2.2rem;
   }
   .units_xs {
    font-size: 0.9em;
   }

  .sensor-labels {
    font-size: 2.5rem;
    vertical-align:middle;
    padding-bottom: 15px;
  }

  #success {
    text-align: center;
    white-space: nowrap;
    font-size: 3em;
    color: rgb(255, 255, 255);  
    background-color: rgb(3, 99, 0);  
    padding: 1em;
  }

  #error {
    text-align: center;
    white-space: nowrap;
    font-size: 3em;
    color: red;    
    background-color: rgb(0, 0, 0);  
    padding: 1em;
  }


 
  @media only screen and (max-width: 992px) {
    /* For tablets, landscape mobile phones: */
    body {
      font-size: 16px;
    }

    *>*{
        font-size:0.91em;
    }
    #author {
      font-size:0.5em;
    }
    #table_utility td, #table_pump td, #table_emon_circuits td, #table_probes td {
      padding:0.2rem;
    }
    #table_pump .small {
      font-size: 0.7rem;
    }
    #table_utility .small {
      font-size: 0.7rem;
    }
    #table_probes .small {
      font-size: 0.7rem;
    }

    #table_emon_circuits tbody {
      font-size:0.4rem;
    }

    .units {
      font-size:1.15rem;
    }
    .container {
      justify-content:start;
    }    
  }

  @media screen and (max-width: 768px) {
    /* For mobile phones: */
    body {
      font-size: 13px;
    }

    *>*{
      font-size:0.88em;
    }

    #author {
      font-size:0.5em;
    }
    #menu {
      font-size:0.85em;
    }
    small {
      font-size:0.77em;
      white-space: nowrap;
    }

    #table_utility td, #table_pump td, #table_emon_circuits td, #table_probes td {
      padding:0.2rem;
    }
    #table_utility .td_title {
      font-size:0.7rem;
    }
    #table_pump .small {
      font-size: 0.5rem;
    }
    #table_utility .small {
      font-size: 0.5rem;
    }
    #table_probes .small {
      font-size: 0.5rem;
    }

    #table_emon_circuits tbody {
      font-size:0.3rem;
    }

    .units {
      font-size:0.6rem;
    }
    .container {
      justify-content:start;
    }    

    #footer {
      font-size: 0.5rem;
    }
  }